// Reset and dependencies
@import "bootstrap";

// Google Fonts - Latodd 
@import url("http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet");
@import url("http://fonts.googleapis.com/css?family=Orbitron:700");
@import url("http://fonts.googleapis.com/css?family=Poiret+One");

h*{
  font-family: "Orbitron:700";
  color: #9f9f9f;
}

.bottomSpaced{
  padding-bottom:25px;
}
.padded{
  padding-top:25px;
  padding-bottom:25px;
  padding-left:50px;
  padding-right:50px;
}

.fadein,
.fadeout {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}


.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}


[scroll-glue-top],
[scroll-glue-bottom],
[scroll-glue]{
  height: 100px;
  overflow-y: scroll;
  border: 1px solid gray;
}

[scroll-glue-left],
[scroll-glue-right]{
  width: 420px;
  font-family: "Poiret+One";
  white-space:nowrap;
  overflow-x: scroll;
  padding: 10px;
  border: 1px dotted #9e9ac8;
}

[scroll-glue-left] span,
[scroll-glue-right] span{
  padding-right:5px;
  padding-left:5px;
}
