
<div class="row clearfix padded">
  <h4>GLOTO::FACEPLANT</h4>
  <button ng-click="loadBaseImage()">
      Render Me
  </button>
  <div id="render_container">
  <canvas id="canvas5" height="1000px" width="1000px" style="border: 1px gray solid; float: left" >
          Your browser does not support the canvas element.
  </canvas>
  </div>
  <div id="container" >
  <canvas id="canvas3" height="1000px" width="1000px" style="border: 1px gray solid; float: left" >
          Your browser does not support the canvas element.
  </canvas>
  <canvas id="canvas4" height="1000px" width="1000px" style="border: 1px gray solid; float: left" >
          Your browser does not support the canvas element.
  </canvas>
  <canvas id="canvas2" height="1000px" width="1000px" style="border: 1px gray solid; float: left" >
          Your browser does not support the canvas element.
  </canvas>
  <canvas id="canvas" height="1000px" width="1000px" style="border: 1px gray solid; float: left" >
          Your browser does not support the canvas element.
  </canvas>
  </div>
</div>
